<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>FSND Blog</title>
</head>

<body>

  <a href="/blog/newpost" class="login-link">Create a new blog post</a>
  <a href="/blog" class="main-title">
    FSND Multi-User Blog
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>
