{% extends "base.html" %}

  {% block content %}

    <h2>Login</h2>
    <form method="post">
      <span class="label">Username:</span>
      <br>
      <input type="text" name="username" value="{{username}}">
      <br><br>
      <span class="label">Password:</span>
      <br>
      <input type="password" name="password" value="">
      <br><br>
      <div class="error">
        {{error}}
      </div>

      <input type="submit">
    </form>
    <br>
    <br>
    <p>Don't have an account? <a href="/signup" class="login-link">Signup here</a> </p>

    <a href="/blog" class="login-link">Home</a>

  {% endblock %}
