{% extends "base.html" %}

  {% block content %}

  <h2>Signup</h2>
    <form method="post">
      <span class="label">Username: </span>
      <br>
      <input type="text" name="username" value="{{username}}">
      <span class="error">{{error_username}}</span>
      <br><br>
      <span class="label">Password:</span>
      <br>
      <input type="password" name="password" value="">
      <span class="error">{{error_password}}</span>
      <br><br>
      <span class="label">Verify Password:</span>
      <br>
      <input type="password" name="verify" value="">
      <span class="error">{{error_verify}}</span>
      <br><br>
      <span class="label">Email (optional):</span>
      <br>
      <input type="text" name="email" value="{{email}}">
      <span class="error">{{error_email}}</span>
      <br><br>
      <input type="submit">
    </form>
    <br>
    <br>

    <p>Already have an account? <a href="/login" class="login-link">Login here</a> </p>

    <a href="/blog" class="login-link">Home</a>

  {% endblock %}